<!--
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
-->
{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <!-- 여기서 question은 한 개의 질문이다. 상세 정보 .. -->
    <!-- 질문 : 제목 -->
    <h2 class="border-bottom py-2"> {{ question.subject }} </h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 질문 : 내용 -->
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge baged-light p-2">
                    <!-- 질문이 생성된 날짜 정보 -->
                    {{ question.create_date |datetime }}
                </div>
            </div>
        </div>
    </div>
    <!-- 질문에 대한 답변 사항..-->
    <h5 class="border-bottom my-3 py-2"> {{ question.answer_set|length }} 개의 답변이 있습니다. </h5>
    {% for answer in question.answer_set %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;"> {{ answer.content }} </div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ answer.create_data |datetime }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 추가 답변을 받기 위한  Form 문 -->
    <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post", class=""my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->

        <div class="form-group">
            <!-- name과 id 는 아직 구분이 안됨...-->
            <!-- forms.py로 연결됨...-->
            <textarea name = "content" id="content" class="form-control" rows = "15"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
